.container {
  padding: 0 2rem;
}

.containerTopArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 12px;
  margin: 12px auto;
}

.containerTopArea button {
  width: 100px;
}